#contact {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.container-form {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.row {
  margin-right: 10%;
}

#contact p {
  font-size: 50px;
  margin-bottom: 20px;
}
