#contact {
  position: relative;
  width: 100%;
}

.title-contact{
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-contact h2 {
  font-size: 50px;
}

.container-form {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.row {
  margin-right: 10%;
}
