#jobs {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  color: white;
}

.title-jobs{
  width: 100%;
  height: 100px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-jobs h2 {
  font-size: 50px;
}

.carousel-inner {
  max-height: 300px !important;
}

.carousel-inner img {
  max-width: 100%;
  max-height: 300px !important;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
