* {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 100px;
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
  position: fixed;
}

#sidebar-1 {
  align-items: center;
  width: 50%;
  border: solid;
}

#sidebar {
  width: 50%;
  background-color: lightgray;
  position: fixed;
  opacity: 0.8;
}

#sidebar {
  display: none;
}


#myLinks {
  width: 50%;
}

#myLinks a {
  color: black;
  font-size: 30px;
  display: block;
  padding: 100px;
  text-align: left;
  font-weight: bold;
}

#sidebar a.icon {
  display: block;
  position: relative;
}

#sidebar a:hover {
  color: black;
}

.middle-section {
  display: flex;
  position: relative;
}

.background-right {
  position: fixed;
  margin-left: 60%;
  margin-top: 4%;
}

.img-background {
  width: 90%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  background-color: lightgray;
  border-radius: 50%;
}

.description {
  align-items: center;
  justify-content: center;
}

.description p{
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  line-height: 1.5em;
  letter-spacing: -.02em;
  margin-block-start: 1em;
  white-space: pre-wrap;
}

.arrow-down {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.img-arrow-down {
  width: 150px;
}

#jobs {
  border: solid;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  line-height: 1.5em;
  letter-spacing: -.02em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  white-space: pre-wrap;
}

#contact {
  border: solid;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  line-height: 1.5em;
  letter-spacing: -.02em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
