* {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

.menu {
    width: 50%;
    height: 100px;
}

.hamburger-menu {
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: blue;
}

#sidebar-1 {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: white;
  position: absolute;
}

.description p{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  color: blue;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#sidebar {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: grey;
  position: absolute;
  padding: 50px;
}

#sidebar {
  display: none;
}

#sidebar a {
  color: black;
  padding: 14px 16px;
  font-size: 30px;
  display: block;
  padding: 50px;
}

#sidebar a.icon {
  display: block;
  position: relative;
}

#sidebar a:hover {
  color: black;
}

.middle-section {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.background-right {
  width: 50%;
  position: fixed;
  margin-left: 50%;
  border: solid;
}

.img-background {
  width: 100%;
}
